/* Connect with google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

/* Hire us on fiver */
.container-hire-us-on-fiver{
    width: 100%;
    height: auto;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0rem;
}

.hire-us-on-five-container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hire-us-on-five-container-txt{
    display: flex;
    align-items: center;
}

.hire-us-on-five-container-txt h1{
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    margin-right: 25px;
}

.hire-us-on-five-container-txt button{
    color: #3498db;
    outline: transparent;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.hire-us-on-five-container-close{
    display: flex;
    align-items: center;
}

.hire-us-on-five-container-close button{
    background-color: transparent;
    border: none;
    color: white;
    outline: transparent;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

/* Website head mobile */
.head-mobile{
    width: 0%;
    height: 100%;
    position: fixed;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.head-mobile-close-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-mobile-close-icon{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.head-mobile-close-icon{
    font-size: 1rem;
}

.head-mobile-link{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-mobile-link ul{
    text-align: center;
}

.head-mobile-link ul li{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.head-mobile-link ul li a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    font-weight: 800;
    transition: 0.5s;
}

.head-mobile-link ul li a:hover{
    color: rgba(0, 0, 0, 0.600);
}

/* Website head */
.head{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head-center{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-txt{
    height: 100%;
    display: flex;
    align-items: center;
}

.head-txt button{
    background-color: transparent;
    border: none;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}

.head-txt button i{
    font-size: 1.5rem;
}

.head-txt h1{
    font-size: 1.6rem;
    font-weight: 900;
    color: black;
}

.head-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.head-link ul li{
    display: inline;
    padding: 10px 12px;
}

.head-link ul li a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
    font-weight: 800;
    transition: 0.5s;
}

.head-link ul li a:hover{
    color: rgba(0, 0, 0, 0.600);
}

.head-link-menu{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.head-link-menu i{
    font-size: 1rem;
}

/* Container home page title txt */
.container-home-page-title-txt{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

.container-home-page-title-txt-center{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-home-page-title-txt-center a{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.500);
    transition: 0.5s;
}

.container-home-page-title-txt-center a:hover{
    color: black;
}

.container-home-page-title-txt-center button{
    background-color: transparent;
    border: none;
    outline: transparent;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.500);
    display: flex;
    align-items: center;
}

.container-home-page-title-txt-center button i{
    font-size: 0.8rem;
}

.container-home-page-title-txt-center p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.500);
}

/* Recent post follow us */
.container-recent-post-follow-us{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.recent-post-follow-us-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* Container recent post */
.container-recent-post{
    width: 66%;
    height: auto;
    margin-right: 4%;
}

.container-recent-post h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-recent-post-txt{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
}

.container-recent-post-txt button{
    background-color: transparent;
    border: none;
    outline: transparent;
    display: flex;
    font-weight: 700;
}

.container-recent-post-txt button p{
    cursor: auto;
    color: rgba(0, 0, 0, 0.500);
}

.container-recent-post-txt button a{
    padding: 0px 5px;
    color: black;
}

.container-recent-post img{
    width: 100%;
    margin-bottom: 20px;
}

.container-recent-post-paragraph{
    width: 100%;
    height: auto;
}

.container-recent-post-paragraph p{
    font-size: 1rem;
    margin-bottom: 30px;
    font-weight: 200;
}

.container-recent-post-paragraph p span{
    background-color: rgba(0, 0, 0, 0.050);
    padding: 6px;
    border-radius: 1px;
}

#copy-button{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 7px;
    background-color: #2c3e50;
    outline: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
    border: 1px solid antiquewhite;
}

#copy-button.show-msg{
    display: none;
}

#copy-button:hover{
    background-color: #423e3e;
}

.code-wrapper:hover #copy-button{
    opacity: 1;
}

.container-recent-post-video-txt{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.container-recent-post-video-txt h1{
    font-size: 2.2rem;
    font-weight: 700;
}

.container-recent-post-video{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.container-recent-post-video iframe{
    width: 100%;
    height: 400px;
}

.container-recent-post-list{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container-recent-post-list p{
    font-size: 1rem;
    margin-bottom: 22px;
    font-weight: 200;
}

.container-recent-post-list p span{
    background-color: rgba(0, 0, 0, 0.050);
    padding: 6px;
    border-radius: 1px;
}

.code-wrapper{
    width: 100%;
    padding: 10px;
    height: auto;
    overflow: auto;
    position: relative;
}

.container-recent-post-btn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.download-btn{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #3498db;
    color: white;
    border: none;
    outline: transparent;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
    margin-right: 15px;
}

.download-btn:hover{
    background-color: #3498dbcd;
}

.demo-btn{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background-color: #dfe6e9;
    color: black;
    border: none;
    outline: transparent;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
    margin-left: 15px;
}

.demo-btn:hover{
    background-color: #dfe6e9b2;
}

.download-btn i{
    margin-right: 10px;
}

/* Container follow us */
.container-follow-us{
    width: 30%;
    height: auto;
}

.container-follow-us-txt{
    width: 100%;
    height: auto;
    border-bottom: 3px solid #2c3e50;
    margin-bottom: 30px;
}

.container-follow-us-txt button{
    background-color: #2c3e50;
    outline: transparent;
    border: none;
    padding: 10px 12px;
    color: white;
}

.container-follow-us-container-boxes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container-follow-us-container-boxes-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.container-follow-us-container-boxes-box-img{
    width: 40%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.container-follow-us-container-boxes-box-img-1{
    background-image: url(/image/Search\ box\ project.PNG);
}

.container-follow-us-container-boxes-box-img-2{
    background-image: url(/image/change\ background\ project.PNG);
}

.container-follow-us-container-boxes-box-img-3{
    background-image: url(/image/book\ website.PNG);
}

.container-follow-us-container-boxes-box-txt{
    width: 56%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container-follow-us-container-boxes-box-txt h1{
    font-size: 1rem;
    color: black;
    margin-bottom: 8px;
    font-weight: 500;
}

.container-follow-us-container-boxes-box-txt p{
    font-size: 0.6rem;
    color: black;
}

.languege-html{
    width: fit-content;
    height: auto;
    border-radius: 10px;
}

.code-wrapper{
    margin-bottom: 30px;
}

/* Languege html scroll bar */
/* width */
.languege-html::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
.languege-html::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
.languege-html::-webkit-scrollbar-thumb {
    background: #2c3e50; 
    border-radius: 10px;
}

/* Languege css scroll bar */
/* width */
.languege-css::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
.languege-css::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
.languege-css::-webkit-scrollbar-thumb {
    background: #2c3e50; 
    border-radius: 10px;
}

/* For tablet */
@media screen and (max-width: 1000px) {
    /* Hire us on fiver mobile */
    .hire-us-on-five-container{
        justify-content: space-between;
    }

    .hire-us-on-five-container-none{
        display: none;
    }

    .hire-us-on-five-container-txt{
        text-align: left;
    }

    .hire-us-on-five-container-txt h1{
        font-size: 1rem;
        margin-right: 4px;
    }

    /* Head link mobile */
    .head-center{
        width: 95%;
    }

    .head-link ul{
        display: none;
    }

    .head-link-menu{
        display: flex;
    }

    /* Container our most popular course mobile */
    .our-most-popular-course-container{
        width: 95%;
    }
}

/* For mobile */
@media screen and (max-width: 800px) {
    /* Hire us on fiver mobile */
    .hire-us-on-five-container{
        justify-content: space-between;
    }

    .hire-us-on-five-container-none{
        display: none;
    }

    .hire-us-on-five-container-txt{
        text-align: left;
    }

    .hire-us-on-five-container-txt h1{
        font-size: 1rem;
        margin-right: 4px;
    }

    /* Head link mobile */
    .head-center{
        width: 95%;
    }

    .head-link ul{
        display: none;
    }

    .head-link-menu{
        display: flex;
    }

    /* Container our most popular course mobile */
    .our-most-popular-course-container{
        width: 95%;
    }

    .our-most-popular-course-container-boxes{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .our-most-popular-course-container-boxes-box{
        width: 100%;
        height: 450px;
    }

    .our-most-popular-course-container-boxes-box-1{
        margin-bottom: 2%;
    }

    /* Recent post follow us container */
    .recent-post-follow-us-container{
        width: 90%;
        flex-direction: column;
    }

    .container-recent-post{
        width: 100%;
        margin-bottom: 40px;
    }

    .container-follow-us{
        width: 100%;
    }
}
